---
title: Reliability Engineering
---

# <%= current_page.data.title %>

Reliability Engineering provide a shared platform to GDS teams with the tools needed to set up and maintain a service, we do this by:

* acquiring tools and where appropriate administer them for GDS, for example [Logit](https://logit.io/)
* running off-the-shelf services for GDS as internal SaaS, for example [Prometheus](https://prometheus.io/)
* providing patterns and guidance, for example [PaaS incident templates](https://government-paas-team-manual.readthedocs.io/en/latest/support/incident_process/)

To understand the context for our decisions and guidance you'll need to refer to the [Service Manual](https://www.gov.uk/service-manual) and the [GDS Way](https://gds-way.cloudapps.digital/#gds-technical-guidance).

These tools have been procured for use by GDS teams, we are updating our recommendations on how we use them.

- [Confluence](https://www.atlassian.com/software/confluence)
- [Jira](https://www.atlassian.com/software/jira)
- [Sentry](https://sentry.io/welcome/)
- [PagerDuty](https://www.pagerduty.com/)
- [Statuspage](https://www.statuspage.io/)
- [Pingdom](https://www.pingdom.com/)
- [Zendesk](https://www.zendesk.co.uk/)
- [Amazon EC2 Reserved Instances](https://aws.amazon.com/ec2/pricing/reserved-instances/)
- [Tech Docs Template](https://github.com/alphagov/tech-docs-template)

## Logging

You should use Logit for your logging solution, it's been approved for use at GDS.

We provide [ELK (Elasticsearch, Logstash, and Kibana)](https://www.elastic.co/elk-stack) stacks using
[Logit](https://logit.io), these guides will help you:

- [get a logit account](manuals/logit-io-joiners-and-leavers.html)
- ship logs from S3 to logit (guidance in development)
- [send logs securely to Logit.io](manuals/logit-io.html)
- [send logs from PaaS to logit](https://docs.cloud.service.gov.uk/#set-up-the-logit-io-log-management-service)
- [respond to an incident with Logit](manuals/logit-incident-management.html)

## Metrics

Reliability Engineering is running an Alpha on using [Prometheus](https://prometheus.io/) as the operational metrics service for GDS.

We provide client libraries which wrap Prometheus's own libraries.  We do this for several reasons:

- to provide a sensible default choice
- to provide a consistent set of metrics across with consistent naming across different runtimes
- to solve problems like "how do you get metrics from all worker processes rather than just one?"
- for GOV.UK PaaS apps, to guard the `/metrics` API behind http basic auth
- to ease configuration through the use of framework-specific things like railties or dropwizard bundles.

You can setup GDS metrics for your GOV.UK PaaS app with:

- [Ruby](https://github.com/alphagov/gds_metrics_ruby)
- [Java with Dropwizard](https://github.com/alphagov/gds_metrics_dropwizard)

Once you've setup your GOV.UK PaaS app with GDS metrics you can:

* [monitor your PaaS app with Prometheus](manuals/monitor-paas-app-with-prometheus.html)

When you use GDS metrics you can create:

- [Grafana dashboards](manuals/grafana-dashboards.html)
- [custom metrics](manuals/add-custom-metrics.html)

Please <a href="mailto:the-gds-way@digital.cabinet-office.gov.uk?subject=feedback">contact us</a> to find out more.

GDS Metrics is in alpha. These instructions are subject to change.

## Internal docs

This section is for members of the Reliability Engineering team.  We have internal guides on:

- [how to manage our shared PaaS organisation](internal/paas.html)
